.course-list {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 1.75rem 0 0;
  font-family: "Inter Tight", sans-serif;
  text-align: center;
}

p {
  margin: 1.5rem 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
  margin: 2rem 0;
  border: none;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
  font-family: "Inter Tight", sans-serif;
}

.filter-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

select,
input {
  padding: 0.5rem;
  border: 1px solid var(--gray-400);
  border-radius: 5px;
  font-size: 0.875rem;
  color: var(--gray-900);
  background: #f8f9fa;
  width: 100%;
  max-width: 200px;
}

select:focus,
input:focus {
  outline: none;
  border-color: var(--bright-blue);
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .course-list {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .filter-form {
    flex-direction: column;
    align-items: center;
  }

  select,
  input {
    max-width: 100%;
  }

  .course-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .course-grid {
    grid-template-columns: 1fr; /* Single column on very small screens */
    gap: 1rem;
  }
}
